
           <nav class="navbar navbar-expand-sm navbar-light bg-faded">
             
              <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="exCollapsingNavbar">
                <ul class="list-group" style="width: 300px;">
                   <li class="list-group-item" id="item1">
                    <button onclick="location.href='<%=new_message_path %>'" class="btn btn-success btn-block nav-link ">New Message</button>
                  </li>
                  <li class="list-group-item" id="item2">
                    <a class="nav-link leftmenuitem" href="<%=receivefrom_path%>">Tin đã nhận</a>
                  </li>
                  <li class="list-group-item" id="item3" >
                    <a class="nav-link leftmenuitem" id="aa" href="<%=sendto_path%>" >Tin đã gửi</a>
                  </li>

                   <li class="list-group-item" id="item4" >
                    <a class="nav-link leftmenuitem" href="<%=requests_path%>">Yeu cau ket ban</a>
                   </li>

                  <li class="list-group-item">
                     <%= form_with scope: :user, url: request_user_path, local: true do |f|%>
    
                     <%= f.text_field :email , :placeholder=>"Email", class: "form-control" %>
                     <button id="request" type="submit" class="btn btn--right">Add a friend</button>
                      <% if flash[:error] %>
                        <p><span style="color: red"><%= flash[:error] %></span></p>
                     <%else%>
                        <p><span><span style="color: green;"><%= flash[:success] %></span></p>
                     <%end%>
                     <% end %>
                    
                  </li>
                  <li class="list-group-item" id="item5">
                    <a class="nav-link leftmenuitem" href="<%=friends_path%>">Danh sách bạn</a>
                  </li>
                  
                </ul>
              </div>
            </nav>
            <h1 id="hiddenvalue" style="display: none;"><%= @activeleftmenuitem %></h1>
            <script type="text/javascript">
            
               $( "#request" ).click(function() {
                   // alert( "Handler for .click() called." );
                    //alert($(".leftmenuitem").parent(".act"));
                    ///$(this).parent().addClass("act");
                    alert("Da gui yeu cau");
                  
                    console.log("It works on each visit!");
                  });
               
               function startup(){
                
                 var num = $('#hiddenvalue').text();
                 $('#item' + num ).addClass("act");
                
               }
               startup();
             
          
              //$(document).on('page:load', ready);
            </script>
        